<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sonido Y luces</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
  </head>

  <body>
    <!--navegacion del cliente y logo de la empresa-->
    <header class="header">
      <nav class="navbarr">
        <a href="/"
          ><img
            class="log"
            src="../public/img/FosterLogo-removebg-preview.png" /></a
        ><!--Cambiar la url del logo-->
        <ul>
          <li><a href="/contacto" class="link-light text-decoration-none">Contacto</a></li>
          <li><a href="./Componentes/mas.html" class="link-light text-decoration-none">Mas</a></li>
          <li><a href="/login" class="link-light text-decoration-none">Administracion</a></li>
        </ul>
      </nav>
    </header>

    <div class="container mt-4">
      <div class="col-12 mt-4 mb-4">
        <div class="row gy-3 my-3">
          <div
            class="container mt-5 text-center bg-white rounded-4 border border-warning border-5"
          >
            <div class="row pt-3">
              <h2>Banquetes</h2>
              <br />
              <p class="mt-3">
                En este espacio encontraras la decoración total para tus fechas
                especiales, Matrimonios, 15 Años, Grados, Cumpleaños, Prom.
                Acompañado del mejor personal y un gran servicio.
              </p>
            </div>
          </div>

          <div
            class="container-fluid mt-5 mb-4 border border-5 border-warning rounded-5 bg-white px-5"
          >
            <!-- primera fila -->
            <div class="row">
              <h2 class="text-center mt-4 pt-3">Montaje de Matrimonio</h2>
              <br />
              <br />
              <div class="col-lg-4 mt-4">
                <h2 class="text-center mt-3">Montaje</h2>
                <ul class="mt-4">
                  <li>Manteles</li>
                  <li>Tapa Manteles</li>
                  <li>Sillas</li>
                  <li>Forros para las sillas</li>
                  <li>Mesas</li>
                  <li>Estolas</li>
                  <li>Menaje en general</li>
                </ul>
              </div>
              <div class="col-lg-4 mt-4">
                <h2 class="text-center mt-3">Decoración</h2>
                <ul class="mt-4">
                  <li>Centros de Mesa</li>
                  <li>Cascada Florales</li>
                  <li>Alfombra Roja</li>
                  <li>Camino de Pétalos</li>
                  <li>Antorchas para la entrada</li>
                </ul>
              </div>
              <div class="col-lg-4 mt-4">
                <h2 class="text-center">Bebidas</h2>
                <ul class="mt-4">
                  <li>Champagne para el Brindis</li>
                  <li>Whiskey</li>
                  <li>Coctel</li>
                  <li>Agua</li>
                  <li>Gaseosa</li>
                </ul>
              </div>
            </div>
            <!-- segunda fila -->
            <div class="row">
              <div class="col-lg-4">
                <h2 class="text-center">Sonido</h2>
                <ul class="mt-4">
                  <li>Manteles</li>
                  <li>Tapa Manteles</li>
                  <li>Sillas</li>
                  <li>Forros para las sillas</li>
                  <li>Mesas</li>
                  <li>Estolas</li>
                  <li>Menaje en general</li>
                </ul>
              </div>
              <div class="col-lg-4 text-center">
                <img
                  src="https://static.wixstatic.com/media/b9b92b_5566b55444a2404b8bdda96ed4a558e3~mv2.png/v1/fill/w_249,h_249,al_c,lg_1,q_85,enc_auto/b9b92b_5566b55444a2404b8bdda96ed4a558e3~mv2.png"
                  class="mb-4"
                  alt=""
                />
              </div>
              <div class="col-lg-4">
                <h2 class="text-center">Ponque</h2>
                <ul class="mt-4">
                  <li>Champagne para el Brindis</li>
                  <li>Whiskey</li>
                  <li>Coctel</li>
                  <li>Agua</li>
                  <li>Gaseosa</li>
                </ul>
              </div>
            </div>
            <!-- tercera fila -->
            <div class="row">
              <div class="col-lg-4">
                <h2 class="text-center">Menu</h2>
                <ul class="mt-4">
                  <li>Manteles</li>
                  <li>Tapa Manteles</li>
                  <li>Sillas</li>
                  <li>Forros para las sillas</li>
                  <li>Mesas</li>
                  <li>Estolas</li>
                  <li>Menaje en general</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h2 class="text-center">Mezcladores</h2>
                <ul class="mt-4">
                  <li>Centros de Mesa</li>
                  <li>Cascada Florales</li>
                  <li>Alfombra Roja</li>
                  <li>Camino de Pétalos</li>
                  <li>Antorchas para la entrada</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h2 class="text-center">Servicio</h2>
                <ul class="mt-4">
                  <li>Champagne para el Brindis</li>
                  <li>Whiskey</li>
                  <li>Coctel</li>
                  <li>Agua</li>
                  <li>Gaseosa</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- boton whatsapp -->
    <a
      href="https://api.whatsapp.com/send?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0"
      class="btn-wsp"
      target="_blank"
    >
      <i class="fab fa-whatsapp fa-1x icono"></i>
    </a>

    <footer class="page-footer center-on-small-only stylish-color-dark">
      <!--Footer Links-->
      <div class="container">
        <div class="row text-white">
          <!--First column-->
          <div class="col-md-4">
            <h5 class="title mb-4 mt-3 font-bold">
              Foster Eventos y Recreación
            </h5>
            <p>
              Nos ubicamos en el barrio Santa Lucía de la localidad de Ciudad
              Bolivar. Nuestra dirección es: Dg. 48 Sur #13h - 42, Bogotá
            </p>
          </div>

          <hr class="clearfix w-100 d-md-none" />

          <!--Second column-->
          <div class="col-md-2 mx-auto">
            <h5 class="title mb-4 mt-3 font-bold">Navegación</h5>
            <ul class="list-unstyled">
              <li><a href="/contacto" class="link-light text-decoration-none">Contacto</a></li>
              <li><a href="./Componentes/mas.html" class="link-light text-decoration-none">Mas</a></li>
              <li><a href="/login" class="link-light text-decoration-none">Iniciar Sesion</a></li>
            </ul>
          </div>

          <hr class="clearfix w-100 d-md-none" />

          <!--Third column-->
          <div class="col-md-2 mx-auto">
            <h5 class="title mb-4 mt-3 font-bold">Redes Sociales</h5>
            <ul class="list-unstyled">
              <li>
                <a
                  href="https://www.instagram.com/fostereventosyrecreacion/?hl=es"
                  class="link-light"
                  ><i class="bi bi-instagram"></i> Instagram</a
                >
              </li>
              <li>
                <a
                  href="https://api.whatsapp.com/send/?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0"
                  class="link-light"
                  ><i class="bi bi-whatsapp"></i> whatsapp</a
                >
              </li>
              <li>
                <a
                  href="https://web.facebook.com/groups/fosterproduccioness/?locale=es_LA&_rdc=1&_rdr"
                  class="link-light"
                  ><i class="bi bi-facebook"></i> Facebook</a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/@fostereventosyrecreacion4226"
                  class="link-light"
                  ><i class="bi bi-youtube"></i> Youtube</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/contenidoDashboards.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

