<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Dashboard</title>

    <!-- css -->
    <link rel="stylesheet" href="../public/css/dashboard.css" />
    <!-- Boxiocns CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap CDN incons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    
  </head>

  <body style="background-color: #E4E9F7;">

    <!-- Aqui iria la dashboard -->
    
      <section id="form">

        <div class="container mt-5 pt-5">
          <div class="row">
            <div class="col-12 col-sm-7 col-md-6 m-auto">
              <div class="card border-0 shadow">
                <div class="card-body">
                  <form action="/buscar/register" method="post">
                    <h2 class="text-center mb-5">Consultar Producto</h2>
                    <br>
                    <label for="">Id: </label><label type="number" for="idProductos" th:field="${productos.idProductos}"></label>
                    <br>
                    <label for="nombreProductos">Nombre de tu producto</label>
                    <input type="text" name="nombreProductos" id="nombreProductos" class="form-control my-4 py-2" th:field="${productos.nombreProductos}" required/>
                    <label for="cantidad">Cantidad</label>
                    <input type="number" name="cantidad" id="cantidad" class="form-control my-4 py-2" th:field="${productos.cantidad}" required />
                    <label for="precioProducto">Precio Compra</label>
                    <input type="number" name="precioCompra" id="precioCompra" class="form-control my-4 py-2" th:field="${productos.precioCompra}" required/> 
                    <label for="fecha">fecha</label>
                    <input type="date" name="fechaEntrega" id="fechaEntrega" class="form-control my-4 py-2" th:field="${productos.fechaEntrega}"/>
                    <label for="estado">Estado</label>
                    <input type="text" name="estado" id="estado" class="form-control my-4 py-2" th:field="${productos.estado}" required />
                    <br>  
                    <br> 
                    <div class="text-center mt-3">
                      <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
    </section>

    <!-- modulos -->
    <script src="/resources/jsDashboard/app.js"></script>
    <script src="/resources/jsDashboard/inventario.js"></script>
    <!-- -->
    
    <script src="../public/jsDashboard/app.js"></script>
    <script src="../public/jsDashboard/logistica.js"></script>
    <script src="../public/jsDashboard/inventario.js"></script>
    <script src="../public/jsDashboard/ventas.js"></script>

    

    <!-- script chartJs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/resources/js/demo/chart-area-demo.js"></script>
    <script src="/resources/js/demo/chart-pie-demo.js"></script>

    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

    <!-- fontAwesome -->
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>


  </body>
</html>
