<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/templates/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Registro Depa:D</title>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="./public/assets/img/atrasSimbolo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Empleados
        </a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </nav>
    <!--ocultar para que cuando se registre se muestre -->
    <!-- <div class="alert alert-warning" role="alert">
        Falta algo
    </div> --> 

    <form action="registroEmpleado" method="post" class="container mt-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Tipo Documento</label>
          <select name="documento_tipo">
            <option value="CC">CC</option>
            <option value="TI">TI</option>
            <option value="Veneco">Veneco</option>
          </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Numero Documento</label>
            <input type="number" class="form-control" id="documento_numero" name="documento_numero" aria-describedby="emailHelp" placeholder="213123123">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Nombres</label>
            <input type="text" class="form-control" id="nombres" name="nombres" aria-describedby="emailHelp" placeholder="Alejo">
        </div>
        
        <div class="form-group">
            <label for="exampleInputEmail1">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" aria-describedby="emailHelp" placeholder="Ramirezzz">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Ciudad</label>
            <input type="text" class="form-control" id="ciudad" name="ciudad" aria-describedby="emailHelp" placeholder="Bogota">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Direccion</label>
            <input type="text" class="form-control" id="direccion" name="direccion" aria-describedby="emailHelp" placeholder="cr 99 666">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input type="text" class="form-control" id="correo_electronico" name="correo_electronico" aria-describedby="emailHelp" placeholder="a@algo.co">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" aria-describedby="emailHelp" placeholder="4234234">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">fecha</label>
            <input type="date" class="form-control" id="fecha_hora_crea" name="fecha_hora_crea" aria-describedby="emailHelp" placeholder="2024-01-21">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Departamento</label>
            <select th:field="*{empleado.departamento_id}" name="departamento_id">
                <option th:each="departamentos : ${departamento}" th:value="${departamentos.id}" th:text="${departamentos.departamento_nombre}"></option>
            </select>

            <!-- <select name="departamento_id" id="departamento_id">
                <option value="1">Industrial</option>
                <option value="2">Transaccional</option>
                <option value="3">Foraneo</option>
            </select> -->
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</body>
</html>