<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Información de la vivienda</h1>
    <div th:each="viviendas:${vivienda}">
        <p>ID: <span th:text="${viviendas.idVivienda}" id="viviendaId" name="viviendaId"></span></p>
        
        <p>nombre casa: <span th:text="${viviendas.nombreCasa}"></span></p>
        
        <p>Precio: <span th:text="${viviendas.precio}"></span> </p>

        <a th:href="@{/editar/}+${viviendas.idVivienda}">Editar</a>
        <a th:href="@{/delete/}+${viviendas.idVivienda}">Eliminar</a>

    </div>
    
</body>
</html>