<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreación Infantil</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
</head>


<body>

<!--navegacion del cliente y logo de la empresa-->
<header class="header">
    <nav class="navbarr">
      <a href="/"
        ><img
          class="log"
          src="../public/img/FosterLogo-removebg-preview.png" /></a
      ><!--Cambiar la url del logo-->
      <ul>
        <li><a href="/contacto" class="link-light text-decoration-none">Contacto</a></li>
        <li><a href="./Componentes/mas.html" class="link-light text-decoration-none">Mas</a></li>
        <li><a href="/login" class="link-light text-decoration-none">Administracion</a></li>
      </ul>
    </nav>
  </header>


    <div class="container mt-4">
        <div class="col-12 mt-4 mb-4 ">
        <div class="row gy-3 my-3 ">

            <div class="container mt-5 text-center border bg-white border border-warning border-5">
                <div class="row p-3">
                    <h2>
                        Recreación Infantil
                    </h2>
                    <br>
                    <p class="mt-4">
                      Aquí encontraras lo que necesitas para lograr de la fiesta de tu pequeñín un día inolvidable.
                      </p>
                      <p>
                      Podrás contratar, Títeres Educativos, Payasos, Magia, Recreación, Globoflexia, Muñecos Gigantes con tus personajes favoritos, Pintucaritas, Integración Adulto Niño, Shows Musicales y Coreográficos. 
                    </p>

                </div>

            </div>


          <!-- cards -->
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
              <div class="card h-100">
                <img src="https://cdn.pixabay.com/photo/2016/10/24/17/08/fair-1766687_1280.jpg" height="310" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ferias</h5>
                  <a href="/recreacion/ferias" class="btn btn-info text-white">ver paquetes</a>
                </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card  h-100">
              <img src="https://i.pinimg.com/564x/e4/aa/1e/e4aa1e049481f519fbe97dc3be907f95.jpg" height="310" class="card-img-top" alt="..."> 
              <div class="card-body">
                <h5 class="card-title">Decoración</h5>
                <a href="/recreacion/decoraciones" class="btn btn-info text-white">ver paquetes</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center ">
            <div class="card h-100">
              <img src="https://img.freepik.com/vector-premium/dibujos-animados-baby-shower_24640-24826.jpg?w=2000" class="card-img-top" alt="..."> <!--banquetes-->
              <div class="card-body">
                <h5 class="card-title">Baby shower</h5>
                <a href="/recreacion/baby_shower" class="btn btn-info text-white">ver paquetes</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card h-100">
              <img src="https://img.freepik.com/vector-premium/lindo-payaso-dibujos-animados_33070-2072.jpg?w=2000" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Recreación Infantil</h5>
                <a href="/recreacion/recreacion_infantil" class="btn btn-info text-white">ver paquetes</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card h-100">
              <img src="https://img.freepik.com/vector-gratis/fondo-dibujos-animados-fiesta-infantil-divertida-compania-ninos_1284-15216.jpg?w=2000" height="300" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mini tk's</h5>
                <a href="/recreacion/minitks" class="btn btn-info text-white">ver paquetes</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card h-100">
              <img src="https://thumbs.dreamstime.com/b/icono-de-almuerzo-escolar-infantil-nutrici%C3%B3n-alimentaci%C3%B3n-dibujo-dibujos-animados-estilo-plano-vectorial-aislado-en-fondo-blanco-167480726.jpg" class="card-img-top" height="300" alt="...">
              <div class="card-body">
                <h5 class="card-title">Refrigerios</h5>
                <a href="/recreacion/refrigerios" class="btn btn-info text-white">ver paquetes</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card h-100">
              <img src="https://img.freepik.com/foto-gratis/alto-angulo-nina-pintando-su-palma_23-2148464635.jpg?size=626&ext=jpg&ga=GA1.1.707258922.1694889311&semt=ais" class="card-img-top" height="300" alt="...">
              <div class="card-body">
                <h5 class="card-title">Talleres lúdicos</h5>
                <a href="/recreacion/talleres_ludicos" class="btn btn-info text-white">ver paquetes</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card h-100">
              <img src="https://imagenpublicitaria.com.ec/images/full/saltaring1.jpg" height="300" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Saltarines</h5>
                <a href="/recreacion/saltarines" class="btn btn-info text-white">ver paquetes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

        <!-- boton de whatsapp -->
        <a href="https://api.whatsapp.com/send?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0" class="btn-wsp" target="_blank">
          <i class="fab fa-whatsapp fa-1x icono"></i>
        </a>

    <footer class="page-footer center-on-small-only stylish-color-dark">
        <!--Footer Links-->
        <div class="container">
          <div class="row text-white">
            <!--First column-->
            <div class="col-md-4">
              <h5 class="title mb-4 mt-3 font-bold">Foster Eventos y Recreación</h5>
              <p>
                Nos ubicamos en el barrio Santa Lucía de la localidad de Ciudad Bolivar.
                Nuestra dirección es: Dg. 48 Sur #13h - 42, Bogotá
              </p>
            </div>
  
            <hr class="clearfix w-100 d-md-none" />
  
            <!--Second column-->
            <div class="col-md-2 mx-auto">
              <h5 class="title mb-4 mt-3 font-bold">Navegación</h5>
              <ul class="list-unstyled">
                <li><a href="/contacto" class="link-light text-decoration-none">Contacto</a></li>
                <li><a href="./Componentes/mas.html" class="link-light text-decoration-none">Mas</a></li>
                <li><a href="/login" class="link-light text-decoration-none">Iniciar Sesion</a></li>
              </ul>
            </div>
  
            <hr class="clearfix w-100 d-md-none" />
  
            <!--Third column-->
            <div class="col-md-2 mx-auto">
              <h5 class="title mb-4 mt-3 font-bold">Redes Sociales</h5>
              <ul class="list-unstyled">
                <li><a href="https://www.instagram.com/fostereventosyrecreacion/?hl=es" class="link-light"><i class="bi bi-instagram"></i> Instagram</a></li>
                <li><a href="https://api.whatsapp.com/send/?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0" class="link-light"><i class="bi bi-whatsapp"></i> whatsapp</a></li>
                <li><a href="https://web.facebook.com/groups/fosterproduccioness/?locale=es_LA&_rdc=1&_rdr" class="link-light"><i class="bi bi-facebook"></i> Facebook</a></li>
                <li><a href="https://www.youtube.com/@fostereventosyrecreacion4226" class="link-light"><i class="bi bi-youtube"></i> Youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>


    <script src="js/contenidoDashboards.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
</body>
</html>