<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Recreación Infantil</title>
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
  </head>


  <body>
    <!--navegacion del cliente y logo de la empresa-->
    <header class="header">
      <nav class="navbarr">
        <a href="/"
          ><img
            class="log"
            src="../../public/img/FosterLogo-removebg-preview.png" /></a
        ><!--Cambiar la url del logo-->
        <ul>
          <li><a href="/contacto" id="boton_contacto">Contacto</a></li>
          <li><a href="./Componentes/mas.html" id="boton_ayuda">Mas</a></li>
          <li><a href="/login" id="boton_registrar">administraci&oacute;n</a></li>
        </ul>
      </nav>
    </header>


  <div class="container mt-4">
    <div class="col-12 mt-4 mb-4">
      <div class="row gy-3 my-3">
        <div class="container mt-5 text-center bg-white rounded-4 border border-warning border-5">
          <div class="row pt-3 ">
            <h2>Recreación Infantil</h2>
            <br />
            <p class="mt-4">
              Aquí encontraras lo que necesitas para lograr de la fiesta de tu
              pequeñín un día inolvidable.
            </p>
            <p>
              Podrás contratar, Títeres Educativos, Payasos, Magia,
              Recreación, Globoflexia, Muñecos Gigantes con tus personajes
              favoritos, Pintucaritas, Integración Adulto Niño, Shows
              Musicales y Coreográficos.
            </p>
          </div>
        </div>

        <!-- TODO: Ponerles precio a los paquetes -->

        <!-- Cards -->
        <div class="card-group">
          <div class="card border border-warning border-end-0 border-5">
            <img src="https://ekosnegocios.com/image/posts/header/5147.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center mt-2 text-danger">Paquete Basico</h5>
              <ul>
                <li>1 <strong>Recreador</strong> Uniformado</li>
                <li><strong>Juegos</strong>, Rondas y Actividades Recreativas</li>
                <li><strong>Pintucaritas</strong></li>
                <li>Show cómico de <strong>payaso</strong></li>
                <li>Truco de <strong>magia</strong></li>
                <li><strong>Integración </strong>con adultos</li>
                <li><strong>Apoyo </strong> logístico</li>
                <li><strong>Maximo</strong> 25 niños</li>
              </ul>
            </div>
            <div class="card-footer">
            </div>
          </div>
          <div class="card border border-end-0 border-warning border-5">
            <img
              src="https://w0.peakpx.com/wallpaper/788/81/HD-wallpaper-disney-characters-walt-disney-disney-character-cartoon-characters-artwork-cartoons-art.jpg"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center mt-2">Paquete Blue</h5>
              <ul>
                <li>1 <strong>Recreador</strong> Uniformado</li>
                <li><strong>Juegos</strong>, Rondas y actividades Recreativas</li>
                <li><strong>Pintucaritas</strong></li>
                <li>Show cómico de <strong>payaso</strong></li>
                <li>Truco de <strong>magia</strong></li>
                <li><strong>Integración </strong>con adultos</li>
                <li><strong>Apoyo </strong> logístico</li>
                <li><strong>Globoflexia </strong>30 unidades</li>
                <li>Show<strong> musical</strong></li>
                <li><strong>Bengala </strong>decorativa para ponque</li>
                <li>Exploción de <strong>dulces</strong></li>
                <li><strong>Maximo</strong> 25 niños</li>
              </ul>
            </div>
            <div class="card-footer">
            </div>
          </div>
          <div class="card border border-warning border-5">
            <img
              src="https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/cinefilia/los-10-personajes-femeninos-mas-empoderados-del-universo-disney/121570109-1-esl-ES/Los-10-personajes-femeninos-mas-empoderados-del-universo-Disney.jpg?crop=0.7734375xw:1xh;center,top&resize=1200:*"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center mt-2">Paquete Foster</h5>
              <ul>
                <li>2 <strong>Recreadores</strong> Uniformados</li>
                <li><strong>Juegos</strong>, Rondas y actividades Recreativas</li>
                <li><strong>Pintucaritas</strong></li>
                <li>Show cómico de <strong>payaso</strong></li>
                <li>Truco de <strong>magia</strong></li>
                <li><strong>Integración </strong>con adultos</li>
                <li><strong>Apoyo </strong> logístico</li>
                <li><strong>Globoflexia </strong>30 unidades</li>
                <li>Show<strong> musical</strong></li>
                <li>Show de<strong> títeres</strong></li>
                <li><strong>Maximo</strong> 25 niños</li>
              </ul>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Glosario -->

  <div class="container mt-5 mb-4 border border-5 border-warning rounded-5 bg-white">
    <div class="row p-3">
      <h2 class="text-center">
        Glosario de Recreación Infantil
      </h2>
      <br>

      <div class="container mt-5 ">
        <div class="row">
          <div class="col text-center">
            <img
              src="https://static.wixstatic.com/media/b9b92b_56c6420d513246778e78fe32774f6f4c~mv2.png/v1/fill/w_351,h_251,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_56c6420d513246778e78fe32774f6f4c~mv2.png "
              alt="">
          </div>
          <div class="col">

            <strong><span>Recreador Uniformado:</span></strong> La persona encargada de la recreación y entretenimiento
            asistirá con el uniforme de la empresa.. <br> <br>
            <strong><span>Show de Payasos:</span></strong> Inocentes y divertidos personajes, que se maquillaran y
            disfrazaran delante los niños para que ellos no tengan miedo y puedan reírse a carcajadas. <br> <br>
            <strong><span>Recreador Uniformado:</span></strong> La persona encargada de la recreación y entretenimiento
            asistirá con el uniforme de la empresa.. <br> <br>
            <strong><span>Show de Payasos:</span></strong> Inocentes y divertidos personajes, que se maquillaran y
            disfrazaran delante los niños para que ellos no tengan miedo y puedan reírse a carcajadas. <br> <br>
            <strong><span>Show de Títeres:</span></strong> Narración tipo fabula, con personajes reconocidos como Elmo y
            El Come Galletas que contaran una gran historia y dejaran una enseñanza <br> <br>
            <strong><span>Juegos, Rondas y Actividades:</span></strong> Diferentes juegos lúdicos en los que los
            chiquitines tendrán que correr, saltar, cantar y bailar. <br> <br>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong><span>Truco de magia:</span></strong> Divertido y entretenido truco de magia básico en el que
            participaran tanto grandes como chicos.. <br> <br>
            <strong><span>Pintucaritas:</span></strong> Tu figura favorita en el rosto, con colores vivos y escarcha,
            parecerá que estas en un cuento de hadas. <br> <br>
            <strong><span>Integración con Adultos:</span></strong> Actividades en las que se involucra la participación
            de los papas y los niños al mismo tiempo afianzando el amor y el apoyo familiar. <br> <br>
            <strong><span>Apoyo Logístico:</span></strong> El recreador te ayudara con la organización de temas como la
            piñata, la repartición de las sorpresas, realización de rifas, repartición de torta, etc... <br> <br>
            <strong><span>Globoflexia:</span></strong> Diversas y hermosas figuras en globos de colores, para que los
            niños se diviertan jugando a los espadachines o simplemente como un hermoso recuerdo. <br> <br>
          </div>
          <div class="col text-center ">
            <img
              src="https://static.wixstatic.com/media/b9b92b_cf8b3d8836f243909170c2229ca7f4cf~mv2.png/v1/fill/w_469,h_363,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_cf8b3d8836f243909170c2229ca7f4cf~mv2.png"
              alt="">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong><span>Show Musical:</span></strong> Los chiquitines bailaran al ritmo de la música canciones
            clásicas dirigidas por los recreadores (El Recreador llevara una MEMORIA USB o un CD y es necesario que el
            CLIENTE tenga un equipo o grabadora para reproducir la música.) <br> <br>
            <strong><span>Bengala Decorativa:</span></strong> Vela tipo volcán que se colora sobre el ponqué. <br> <br>
            <strong><span>Explosión de Dulces:</span></strong> DBombas gigantescas repletas de sorpresas, que se
            estallaran en el momento indicado sorprendiendo a los niños con todo lo que hay dentro. <br> <br>
            <strong><span>Personaje Gigante:</span></strong> Todos los personajes del fantástico mundo de Disney en
            tamaño real, que saludara y abrazara a los chiquitines rodándoles una gran sonrisa. <br> <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- boton whatsapp -->
  <a href="https://api.whatsapp.com/send?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0"
    class="btn-wsp" target="_blank">
    <i class="fab fa-whatsapp fa-1x icono"></i>
  </a>

  <!-- footer -->
  <footer class="page-footer center-on-small-only stylish-color-dark">
    <!--Footer Links-->
    <div class="container">
      <div class="row text-white">
        <!--First column-->
        <div class="col-md-4">
          <h5 class="title mb-4 mt-3 font-bold">
            Foster Eventos y Recreación
          </h5>
          <p>
            Nos ubicamos en el barrio Santa Lucía de la localidad de Ciudad
            Bolivar. Nuestra dirección es: Dg. 48 Sur #13h - 42, Bogotá
          </p>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <!--Second column-->
        <div class="col-md-2 mx-auto">
          <h5 class="title mb-4 mt-3 font-bold">Navegación</h5>
          <ul class="list-unstyled">
            <li><a href="/contacto" class="link-light text-decoration-none" >Contacto</a></li>
            <li><a href="./Componentes/mas.html" class="link-light text-decoration-none" >Mas</a></li>
            <li><a href="login" class="link-light text-decoration-none" >Iniciar Sesion</a></li>
          </ul>
        </div>

        <hr class="clearfix w-100 d-md-none" />

        <!--Third column-->
        <div class="col-md-2 mx-auto">
          <h5 class="title mb-4 mt-3 font-bold">Redes Sociales</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/fostereventosyrecreacion/?hl=es" class="link-light"><i
                  class="bi bi-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send/?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0"
                class="link-light"><i class="bi bi-whatsapp"></i> whatsapp</a>
            </li>
            <li>
              <a href="https://web.facebook.com/groups/fosterproduccioness/?locale=es_LA&_rdc=1&_rdr"
                class="link-light"><i class="bi bi-facebook"></i> Facebook</a>
            </li>
            <li>
              <a href="https://www.youtube.com/@fostereventosyrecreacion4226" class="link-light"><i
                  class="bi bi-youtube"></i> Youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/contenidoDashboards.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>