<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form action="register" method="post">
        
        <h2>Taller 3 crud en una tabla</h2>
        <input type="hidden" name="idVivienda" id="idVivienda" th:field="${vivienda.idVivienda}">

        <label for="nombreCasa">El nombre de tu propiedad</label>
        <input type="text" id="nombreCasa" name="nombreCasa" placeholder="Apartamento" required th:field="${vivienda.nombreCasa}">
        <label for="precio">Valor total de la propiedad</label>
        <input type="number" id="precio" name="precio" placeholder="1.000'000.000" required th:field="${vivienda.precio}">
        
        <button type="submit">enviar</button>
        
    </form>

</body>
</html>