<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonido Y luces</title>
    <link rel="stylesheet" href="./public/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
</head>
<body>

<!--navegacion del cliente y logo de la empresa-->
<header class="header">
    <nav class="navbarr">
      <a href="/"
        ><img
          class="log"
          src="./public/img/FosterLogo-removebg-preview.png" /></a
      ><!--Cambiar la url del logo-->
      <ul>
        <li><a href="/contacto" class="link-light text-decoration-none">Contacto</a></li>
        <li><a href="./Componentes/mas.html" class="link-light text-decoration-none">Mas</a></li>
        <li><a href="/login" class="link-light text-decoration-none">Administracion</a></li>
    </nav>
  </header>


    <div class="container mt-4 ">
        <div class="col-12 mt-4 mb-4 ">
        <div class="row gy-3 my-3 ">

            <div class="container mt-5 text-center border  bg-white border border-warning border-5">
                <div class="row p-3">
                    <h2>
                        Sonido Y luces 
                    </h2>
                    <br>
                    <p class="mt-4">
                        Entre nuestros servicios de Sonido y Luces contamos con diferentes paquetes profesionales para garantizar el éxito total de su evento.
                    </p>
                    <p>
                        Entre nuestras ofertas podrás encontrar Sonido profesional, para salón de recepciones, o carpa campestre, Luces tipo concierto Audio rítmicas, Láser, Led, strober, Micrófonos, Cámara de humo, Carnavalito
                    </p>
                    <p>
                        Dj profesional, Unidades de mezcla, Animación, Protocolo,  Concursos, Shows, Decoración, Accesorios (Sombreros, manillas, collares, etc. ) , Locución publicitaria para Tiendas y Establecimientos
                    </p>
                </div>

            </div>


          <!-- cards -->
          <!-- <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
              <img src="https://static.wixstatic.com/media/b9b92b_f4a3580a61dc4ad58b4bdcc1f41e27fb~mv2_d_1600_1600_s_2.png/v1/fill/w_133,h_133,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_f4a3580a61dc4ad58b4bdcc1f41e27fb~mv2_d_1600_1600_s_2.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title
                    mt-5 mb-4 text-center">Sonido mini</h5>
                <ul>
                  <li>2 Cabinas de sonido activas de 400 wats cada 1</li>
                  <li>4 Luces audio rítmicas en su estructura</li>
                  <li>1 Micrófono inalámbrico</li>
                  <li>1 Micrófono de cable</li>
                  <li>Dj Especialista en mezclas</li>
                  <li>Hora Loca musical</li>
                  <li>Máximo 100 Invitados</li>
                  <li>Hora de finalización del servicio 3:00 am</li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="card h-100 border border-warning border-5">
                <img src="https://static.wixstatic.com/media/b9b92b_f4a3580a61dc4ad58b4bdcc1f41e27fb~mv2_d_1600_1600_s_2.png/v1/fill/w_133,h_133,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_f4a3580a61dc4ad58b4bdcc1f41e27fb~mv2_d_1600_1600_s_2.png" class="card-img-top" alt="..."> 
                <div class="card-body">
                  <h5 class="card-title
                    mt-5 mb-4 text-center">Sonido mini</h5>
                  <ul>
                    <li>2 Cabinas de <strong>sonido</strong> activas de 400 wats cada 1</li>
                    <li>4 <strong>Luces</strong> audio rítmicas en su estructura</li>
                    <li>1 Micrófono <strong>inalámbrico</strong></li>
                    <li>1 <strong>Micrófono</strong> de cable</li>
                    <li><strong>Dj</strong> Especialista en mezclas</li>
                    <li><strong>Hora Loca</strong> musical</li>
                    <li><strong>Máximo</strong> 100 Invitados</li>
                    <li>Hora de finalización del servicio <strong>3:00 am</strong></li>
                  </ul>
                  <div class="text-center ">
                    <a href="#" class="btn btn-info text-white mt-5">Chatea con un asesor</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card  h-100 border border-warning border-5">
              <img src="https://static.wixstatic.com/media/b9b92b_40292107da0d4776b1a78a2ec3c9cf9b~mv2.png/v1/fill/w_203,h_155,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_40292107da0d4776b1a78a2ec3c9cf9b~mv2.png" class="card-img-top" height="295"> 
              <div class="card-body">
                <h5 class="card-title
                    mt-5 mb-4 text-center">Sonido Basico</h5>
                <ul>
                  <li>2 Cabinas de <strong>sonido</strong> activas de 400 wats cada 1</li>
                  <li>4 <strong>Luces</strong> audio rítmicas en su estructura</li>
                  <li>camra de <strong>Humo</strong></li>
                  <li>1 Micrófono <strong>inalámbrico</strong></li>
                  <li>1 <strong>Micrófono</strong> de cable</li>
                  <li><strong>Dj</strong> Animador maestro de ceremonias</li>
                  <li><strong>Hora Loca</strong> musical</li>
                  <li><strong>Máximo</strong> 100 Invitados</li>
                  <li>Hora de finalización del servicio <strong>3:00 am</strong></li>
                </ul>
                <div class="text-center ">
                  <a href="#" class="btn btn-info text-white mt-5">Chatea con un asesor</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card h-100 border border-warning border-5">
              <img src="https://static.wixstatic.com/media/b9b92b_ae13c1e5e8a4400eb2329094300b79ea~mv2.png/v1/fill/w_157,h_157,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_ae13c1e5e8a4400eb2329094300b79ea~mv2.png" class="card-img-top" alt="..."> <!--banquetes-->
              <div class="card-body">
                <h5 class="card-title
                    mt-5 mb-4 text-center">Sonido Blue</h5>
                <ul>
                  <li>2 Cabinas de <strong>sonido</strong> activas de 400 wats cada 1</li>
                  <li>4 <strong>Luces</strong> audio rítmicas en su estructura</li>
                  <li>Cámara de <strong>humo</strong></li>
                  <li>1 Micrófono <strong>inalámbrico</strong></li>
                  <li>1 <strong>Micrófono </strong>de cable</li>
                  <li>1 <strong>Dj</strong> animador maestro de ceremonias</li>
                  <li><strong>Hora Loca</strong> musical</li>
                  <li><strong>Concursos</strong> (Opcional)</li>
                  <li><strong>Coreografias</strong> dirigidas</li>
                  <li>pitos x60, <strong>manillas </strong>x60, <strong>bombas </strong>x60</li>
                  <li>Máximo 150 Invitados</li>
                  <li>Hora de finalización del servicio 3:00 am</li>
                </ul>
                  <div class="text-center ">
                    <a href="#" class="btn btn-info text-white mt-5">Chatea con un asesor</a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card h-100 border border-warning border-5">
              <img src="https://static.wixstatic.com/media/b9b92b_25b291331db2467b99da805298166231~mv2.png/v1/fill/w_260,h_160,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_25b291331db2467b99da805298166231~mv2.png" class="card-img-top" height="295">
              <div class="card-body">
                <h5 class="card-title
                    mt-5 mb-4 text-center">Sonido Foster</h5>
                <ul>
                  <li>2 Cabinas de <strong>sonido</strong> activas de 400 wats cada 1</li>
                  <li>4 <strong>Luces</strong> audio rítmicas en su estructura</li>
                  <li>Cámara de <strong>humo</strong></li>
                  <li>1 Micrófono <strong>inalámbrico</strong></li>
                  <li>1 <strong>Micrófono </strong>de cable</li>
                  <li>1 <strong>Dj</strong> animador maestro de ceremonias</li>
                  <li><strong>Hora Loca</strong> musical</li>
                  <li><strong>Concursos</strong> (Opcional)</li>
                  <li><strong>Coreografias</strong> dirigidas</li>
                  <li>pitos x60, <strong>manillas </strong>x60, <strong>bombas </strong>x60</li>
                  <li>mesa dj <strong>néon</strong></li>
                  <li>telas <strong>decorativas</strong> para estructuras</li>
                  <li>estructura <strong>doble</strong> de luces 3x3 mts</li>
                  <li>2 <strong>luces</strong> cabezas robóticas</li>
                  <li><strong>Máximo </strong>150 Invitados</li>
                  <li>Hora de finalización del servicio <strong>3:00 am</strong></li>
                  </ul>
                  <div class="text-center ">
                    <a href="#" class="btn btn-info text-white mt-5">Chatea con un asesor</a>
                  </div>
              </div>
            </div>
          </div>

<!-- Glosario -->
        <div class="container mt-5 mb-4 bg-white border border-warning border-5">
          <div class="row p-3">
            <h2 class="text-center">
              Glosario de Sonido 
            </h2>
            <br>
      
            <div class="container mt-5">
              <div class="row">
                <div class="col text-center">
                  <img src="https://static.wixstatic.com/media/b9b92b_bfc225fcc5ec4b4d91fe89a0fe82855a~mv2.png/v1/fill/w_324,h_202,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_bfc225fcc5ec4b4d91fe89a0fe82855a~mv2.png " alt="fiesta" class="mb-5">
                </div>
                <div class="col">
      
                  <strong><span>Juego de luces Rítmicas:</span></strong> Luces Tipo discoteca que funcionan con el sonido de la música. <br> <br>
                  <strong><span>Cabinas de sonido:</span></strong> Parlantes por los cuales se reproduce y suena la música. <br> <br>
                  <strong><span>DJ:</span></strong> Persona encargada de amenizar la fiesta con mezclas musicales <br> <br>
                  <strong><span>DJ Animador Maestro de ceremonias:</span></strong> Persona encargada tanto de la música, como de la animación de los invitados, y también del protocolo <br> <br>
                  <strong><span>Protocolo:</span></strong> Momento inicial de la celebración donde se realiza, el brindis, las palabras, vals, etc... <br> <br>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong><span>Show Carnavalero:</span></strong> Momento dentro de la hora loca donde aparece la marimonda a interactuar con los invitados <br> <br>
                  <strong><span>Coreografías:</span></strong> MMomento durante la hora loca donde el animador guiara al grupo con unos divertidos pasos de baile <br> <br>
                  <strong><span>Accesorios Básicos:</span></strong> Pitos, Manillas de neón y bombas mil figuras que serán repartidas durante la hora loca <br> <br>
                  <strong><span>Mesa Neón:</span></strong> Mesa especial tipo neón para el Dj, que llevara la decoración de tu fiesta a otro nivel <br> <br>
                  <strong><span>Tela Decorativa Neón:</span></strong> Tela para decorar todo el montaje de sonido y luces, transformando la decoración de normal a neón <br> <br>
                </div>
                <div class="col text-center">
                  <img src="https://static.wixstatic.com/media/b9b92b_0c6e7aa217e047299afde52bee03aea4~mv2.png/v1/fill/w_476,h_242,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b9b92b_0c6e7aa217e047299afde52bee03aea4~mv2.png" alt="" class="mt-5 mb-5"> 
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

        <!-- boton de whatsapp -->
        <a href="https://api.whatsapp.com/send?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0" class="btn-wsp" target="_blank">
          <i class="fab fa-whatsapp fa-1x icono"></i>
        </a>

    
    <footer class="page-footer center-on-small-only stylish-color-dark">
        <!--Footer Links-->
        <div class="container">
          <div class="row text-white">
            <!--First column-->
            <div class="col-md-4">
              <h5 class="title mb-4 mt-3 font-bold">Foster Eventos y Recreación</h5>
              <p>
                Nos ubicamos en el barrio Santa Lucía de la localidad de Ciudad Bolivar.
                Nuestra dirección es: Dg. 48 Sur #13h - 42, Bogotá
              </p>
            </div>
  
            <hr class="clearfix w-100 d-md-none" />
  
            <!--Second column-->
            <div class="col-md-2 mx-auto">
              <h5 class="title mb-4 mt-3 font-bold">Navegación</h5>
              <ul class="list-unstyled">
                <li><a href="/contacto" class="link-light text-decoration-none">Contacto</a></li>
                <li><a href="./Componentes/mas.html" class="link-light text-decoration-none">Mas</a></li>
                <li><a href="/login" class="link-light text-decoration-none">Iniciar Sesion</a></li>
              </ul>
            </div>
  
            <hr class="clearfix w-100 d-md-none" />
  
            <!--Third column-->
            <div class="col-md-2 mx-auto">
              <h5 class="title mb-4 mt-3 font-bold">Redes Sociales</h5>
              <ul class="list-unstyled">
                <li><a href="https://www.instagram.com/fostereventosyrecreacion/?hl=es" class="link-light"><i class="bi bi-instagram"></i> Instagram</a></li>
                <li><a href="https://api.whatsapp.com/send/?phone=573125372204&text=Hola+%EF%BF%BD%0ADeseo+informaci%C3%B3n+sobre+las+fiestas+infantiles.+%EF%BF%BD&type=phone_number&app_absent=0" class="link-light"><i class="bi bi-whatsapp"></i> whatsapp</a></li>
                <li><a href="https://web.facebook.com/groups/fosterproduccioness/?locale=es_LA&_rdc=1&_rdr" class="link-light"><i class="bi bi-facebook"></i> Facebook</a></li>
                <li><a href="https://www.youtube.com/@fostereventosyrecreacion4226" class="link-light"><i class="bi bi-youtube"></i> Youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>


    <script src="js/contenidoDashboards.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
</body>
</html>